.container { 
    background-color: #8f143e;
}

.text {
    text-align: center;
    justify-content: space-around;
}

.title {
    padding: 1rem;
    color: 	#4f7899;
}

.pageBottom {
    padding-bottom: 5rem;
    background-color: 	#8f143e;
}